@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
body{
    font-family: 'Syne Mono', monospace;
}
body {
    background-color: rgb(112, 194, 18);
    margin: 0px;
  }
  
  h1 {
    color: rgb(0, 0, 0);
    margin-left: 40px;
  }
  h1, h2, h3 {
      font-weight:bolder;
  }
nav {
  padding: 10px;
  background-color: black ;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a {
  padding: 0px 20px;
  margin: 0px;
  text-decoration: none;
  color: green;
  font-size: 21px;

}
nav a:hover {
  color: yellow;
}
nav a:active { 
  color: red;

}
nav a:visited {
  color:rgb(0, 195, 255)
}
table,td,th{
  border: 1px solid black;
  border-collapse: collapse;
}
input[type=submit]{
  background-color: white(44, 61%, 34%);
  padding: 8px;
  border-radius: 64px;
}
input[type=submit]:active{
  background-color: lime;
}
input[type=submit]:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: rgb(255, 251, 0)
}
input[type=text], textarea {
  border: 2px solid red;
  border-radius: 4px;
}
input[type=text]:focus {
    background-color: lightblue;}
    